language: go

go:
- "1.14.x"
- "1.15.x"
- "1.16.x"

before_install:
  - go get -t -v ./...

script:
  - go test
  - go test -bench . -benchmem
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
