language: go

jobs:
  include:
    - go: "1.10.x"
      env: GO111MODULE=off
    - go: "1.10.x"
      env: GO111MODULE=on
    - go: "1.11.x"
      env: GO111MODULE=off
    - go: "1.11.x"
      env: GO111MODULE=on
    - go: "1.12.x"
      env: GO111MODULE=off
    - go: "1.12.x"
      env: GO111MODULE=on
    - go: "1.13.x"
      env: GO111MODULE=off
    - go: "1.13.x"
      env: GO111MODULE=on
    - go: "1.14.x"
      env: GO111MODULE=off
    - go: "1.14.x"
      env: GO111MODULE=on
    - go: "1.15.x"
      env: GO111MODULE=off
    - go: "1.15.x"
      env: GO111MODULE=on
    - go: master
      env: GO111MODULE=off
    - go: master
      env: GO111MODULE=on

before_install:
  - go get -t -v ./...

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
